.m_t_10{
margin-top: 10px;
}   
.float_right{
    float: right;
}

.error{
    color: red;
}
.logout{    
    float: right;
    margin-right:15px
}

.nav_bar{
    margin-left: 160px;
    margin-top :10px;
    height: 40px;
    background-color: blueviolet;
}


.main {
    margin-top:55px;
    margin-left: 160px; /* Same as the width of the sidenav */
    font-size: 28px; /* Increased text to enable scrolling */
    padding: 0px 10px;
  }

.sidenav {
    height: 100%;
    width: 160px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color:blueviolet;
    overflow-x: hidden;
    padding-top: 20px;
  }
  