.nav_list{
    list-style-type: none;
}


.nav_item a {
    float: left;
    color:white;
    text-decoration:none;
    padding:10px;
    color:white;
}

.nav_item a:hover{
  color:brown;
}

.nav_item a:active{
    font-weight: 800;
}