

.sidebar_list{
    list-style-type: none;
}
  .sidebar_item a {
    display: inline-block;
    padding: 6px 8px 6px 2px;
    text-decoration: none;
    font-size: 25px;
    color:white;
    display: block;
  }
  
  .sidebar_item a:hover {
    color: brown;
  }
  .sidebar_item a:active {
    font-weight: 800;
  }
  
  

  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }